<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="production">
      <ion-icon name="square"></ion-icon>
      <ion-label class="lab">Production</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="stock">
      <ion-icon name="circle"></ion-icon>
      <ion-label class="lab">Stock</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="produit">
      <ion-icon name="cake"></ion-icon>
      <ion-label class="lab">Produits</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ingredient">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label class="lab">Ingredients</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
