<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="production">
      <img src="../../../assets/icon/fouet.png" alt="" />
      <ion-label class="lab">Production</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="stock">
      <img src="../../../assets/icon/boxes.png" alt="" />
      <ion-label class="lab">Stock</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="produit">
      <img src="../../../assets/icon/cake.png" alt="" />
      <ion-label class="lab">Produits</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ingredient">
      <img src="../../../assets/icon/ingredients.png" alt="" />
      <ion-label class="lab">Ingredients</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
