<div class="content">
  <ion-card>
    <div class="flex-end">
      <div class="date">
        <h2>Date : <span> 20 Novembre 2021</span></h2>
        <h2>Heure : <span> 3:30</span></h2>
      </div>
    </div>
    <div class="produits">
      <div class="item">
        <div class="intro">
          <img src="" alt="" />
          <h5>Cake</h5>
        </div>
        <p>10</p>
      </div>
      <div class="item">
        <div class="intro">
          <img src="" alt="" />
          <h5>Pain au raisin</h5>
        </div>
        <p>10</p>
      </div>
      <div class="item">
        <div class="intro">
          <img src="" alt="" />
          <h5>Pain au chocolat</h5>
        </div>
        <p>10</p>
      </div>
    </div>
  </ion-card>
</div>
