<ion-header>
  <div class="header">
    Production
    <div class="notif">
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-icon name="notifications-outline"></ion-icon>
    </div>
  </div>
</ion-header>

<ion-content>
  <div class="content">
    <h4>Aujourd'hui le <span>16 Décembre 2021</span></h4>

    <ion-card>
      <p>Ajouter un produit</p>
      <input type="text" placeholder="Nom du produit" />
      <input type="number" placeholder="Quantité" />
      <div class="flex-row">
        <ion-button class="second"> Annuler </ion-button>
        <ion-button class="prim"> Ajouter </ion-button>
      </div>
    </ion-card>

    <h6>Liste des produits ajoutés</h6>
    <div class="recap">
      <div class="item">
        <div class="intro">
          <img src="" alt="" />
          <h5>Cake</h5>
        </div>
        <p>10</p>
      </div>
      <div class="item">
        <div class="intro">
          <img src="" alt="" />
          <h5>Cake</h5>
        </div>
        <p>10</p>
      </div>
      <div class="item">
        <div class="intro">
          <img src="" alt="" />
          <h5>Cake</h5>
        </div>
        <p>10</p>
      </div>
      <div class="item">
        <div class="intro">
          <img src="" alt="" />
          <h5>Cake</h5>
        </div>
        <p>10</p>
      </div>
      <div class="item">
        <div class="intro">
          <img src="" alt="" />
          <h5>Cake</h5>
        </div>
        <p>10</p>
      </div>
    </div>

    <div class="flex-row">
      <ion-button class="second"> Annuler </ion-button>
      <ion-button class="prim"> Enregistrer </ion-button>
    </div>
  </div>
</ion-content>
