<ion-header
  ><div class="header">
    Stock
    <div class="notif">
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-icon name="notifications-outline"></ion-icon>
    </div>
  </div>
</ion-header>

<ion-content>
  <div class="content">
    <h1>Farine</h1>
    filtrer
    <ion-select> appovisionnement/ consommation </ion-select>
    <ion-item>
      <ion-label>Date</ion-label>
      <ion-datetime display-format="DD.MM.YYYY HH:mm"></ion-datetime>
    </ion-item>

    <div class="list">
      <div class="flex-row">
        <h5>Date</h5>
        <p>Consom.</p>
        <p>Approv.</p>
      </div>

      <div class="flex-row">
        <h5>12 Dec 2021 à 12:30</h5>
        <p>10</p>
        <p>20</p>
      </div>
    </div>
  </div>
</ion-content>
